<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind"/>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="SpecBind"/>
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration --><unitTestProvider name="NUnit"/>
    <plugins>
      <add name="SpecBindGeneratorPlugin" type="Generator"/>
    </plugins>
  </specFlow>
  <specBind>
    <!-- For additional details on SpecBind configuration options see the project site. -->
    <application startUrl="https://uat2-www.np.bupaglobal.com/"/>
    <browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="Firefox"/>
  </specBind>
</configuration>